name: HabitApiEngine

on: [push]

env:
  IMAGE_NAME: habitapiengine

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.14'

      - run: pip install ruff
      - run: ruff check .

  tests:
    runs-on: ubuntu-latest
    needs: lint
    services:
      redis:
        image: redis:7
        ports: ["6379:6379"]

      postgres:
        image: postgres:16
        ports: ["5432:5432"]
        env:
          POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.14'

      - run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - run: |
          env:
            SECRET_KEY: ${{ secrets.SECRET_KEY }}
            POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
            POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
            POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
            POSTGRES_HOST: localhost
            POSTGRES_PORT: 5432
          python manage.py migrate

      - run: |
          env:
            SECRET_KEY: ${{ secrets.SECRET_KEY }}
            POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
            POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
            POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
            POSTGRES_HOST: localhost
            POSTGRES_PORT: 5432
          python manage.py test

  build:
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - uses: actions/checkout@v4
      - run: docker build -t habitapiengine .

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/course_work'

    steps:
      - uses: actions/checkout@v4

      - name: Set up SSH agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_KEY_REST }}

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY_HABIT }}
          script: |
            cd /opt/habit_api_engine            
            docker compose up -d --build
            docker compose exec -T backend python manage.py migrate --noinput
            docker compose exec -T backend python manage.py collectstatic --noinput
            docker image prune -f
